@inherits LayoutComponentBase
@inject ClientModeService ModeService

<Offcanvas @ref="tasksList"/>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <div class="top-row px-4 button-right-container">

            @if (@ModeService.CurrentMode == ClientMode.Normal)
            {
                <button class="btn btn-danger" @onclick="()=>ModeService.ToggleMode()" > Nahlásit chybu </button>
                <button class="btn btn-info" @onclick="ShowTasksList"> Seznam úkolů </button>
            }
            else 
            {
                <button class="btn btn-success" @onclick="()=>ModeService.ConfirmBugSelection()"> Potvrdit výběr </button>
                <button class="btn btn-info btn-forward" @onclick="()=>ModeService.ToggleMode()" > Nenahlašovat </button>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private Offcanvas tasksList = default!;

    private async Task ShowTasksList()
    {
        var parameters = new Dictionary<string, object>();
        await tasksList.ShowAsync<TasksList>(title: "Seznam úkolů:", parameters: parameters);
    }
}
