@inherits LayoutComponentBase

<Offcanvas @ref="tasksList"/>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <div class="top-row px-4 button-right-container">
            <Button Color="ButtonColor.Danger"> Report a bug </Button>
            <Button @onclick="ShowTasksList" Color="ButtonColor.Info"> Show tasks list </Button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private Offcanvas tasksList = default!;

    private async Task ShowTasksList()
    {
        var parameters = new Dictionary<string, object>();
        await tasksList.ShowAsync<TasksList>(title: "Tasks list:", parameters: parameters);
    }
}
