@page "/"
@layout IntroLayout
@inject NavigationManager Navigation

<div class="intro-textbox-container">
    <h1> 
        Vítej ve výukové hře o informačních systémech!
    </h1>
    
    <div class="intro-textbox"> 
        Pro úspěšné dokončení této hry budeš muset splnit pár úkolů, které jsme si pro tebe připravili. Všechno, co potřebuješ ke splnění jednotlivých úkolů najdeš v informačním systému. Aktuální úkol si můžeš zobrazit kliknutím na tlačítko "Ukaž seznam úkolů" v pravém horním rohu.
    </div>

    <div class="intro-textbox">
        To však není všechno! Jak už tomu bývá, do systému se vloudila hrstka takzvaných "bugů", neboli chyb v programu. Naštěstí budeš mít vždy k dispozici červené tlačítko "Nahlásit chybu", které najdeš hned vedle tlačítka pro zobrazení seznamu úkolů v pravém horním rohu. Po kliknutí na toto červené tlačítko budeš muset správně zvolit, který prvek na stránce je rozbitý. Když uspěješ, tak se chyba automaticky opraví.
    </div>

    <div class="intro-textbox">
        Hodně štěstí!
    </div>

    <Button Color="ButtonColor.Primary" Size="ButtonSize.ExtraLarge" @onclick="NavigateToParticipants" > 
        Začít hru
    </Button>
    
</div>

@code
{
    private void NavigateToParticipants()
    {
        Navigation.NavigateTo("/participants");
    }
}
