@* Modal that shows the result of selecting bugs to report *@

<div> @GetOutputText()</div>

@code
{
    [Parameter]
    public required BugSelectionResult QuestResult { get; set; }


    private string GetOutputText()
    {
        switch (QuestResult)
        {
            case BugSelectionResult.Correct:
                return "Dobrá práce!";
            case BugSelectionResult.CompletelyWrong:
                return "Špatná volba!";
            case BugSelectionResult.LessElementsCausingBug:
                return "Pozor! Máš vybrané i prvky, které chybu nezpůsobují.";
            case BugSelectionResult.MoreElementsCausingBug:
                return "Jsi na dobré cestě, ale chybu způsobují i nějaké další prvky, které nemáš vybrané.";
            default:
                throw new Exception("Wrong quest result");
        }
        
    }
}
