@* Modal that shows the result of selecting bugs to report *@

@inject QuestService QuestService

<h4> @GetOutputText()</h4>

@if (BugSelectionResult == BugSelectionResult.Correct)
{
    <br/>
    <h6> Co bylo špatně: </h6>
    <div> @ActiveQuest.BugDescription </div>
}

@code
{
    [Parameter]
    public required BugSelectionResult BugSelectionResult { get; set; }

    [Parameter]
    public required Quest ActiveQuest { get; set; }
    

    /// TODO: FINISH THIS PIECE OF CODE (SHOW BUG DESCRIPTION FOR THE ACTIVE TASK)
    private string GetOutputText()
    {
        return QuestService.GetTextForSelectionResult(BugSelectionResult);
    }
}
