@* Modal that shows the result of selecting bugs to report *@

<div> @GetOutputText()</div>

@code
{
    [Parameter]
    public required BugSelectionResult BugSelectionResult { get; set; }


    private string GetOutputText()
    {
        return BugSelectionResult switch 
        {
            BugSelectionResult.MoreElementsCausingBug => "Jsi na dobré cestě, ale chybu způsobují i nějaké další prvky, které nemáš vybrané.",
            BugSelectionResult.LessElementsCausingBug => "Pozor! Máš vybrané i prvky, které chybu nezpůsobují.",
            BugSelectionResult.CompletelyWrong => "Špatná volba!",
            BugSelectionResult.Correct => "Dobrá práce!",
            BugSelectionResult.NothingSelected => "Nemáš vybrané žádné prvky!",
            _ => throw new Exception("Invalid BugSelectionResult enum")
        };
        
    }
}
