@inject QuestService QuestService

<p>
    <h5> Dokončené úkoly </h5>
    @foreach (var quest in QuestService.CompletedQuests)
    {
        <label> <input type="checkbox" checked disabled> <s> @quest.Description </s> </label>
    }
    <br/> <br/>
    <h5> Aktivní úkol </h5>
    <label> <input type="checkbox" disabled> @QuestService.ActiveQuest.Description </label>

</p>