@inject QuestService QuestService
@inject ClientModeService ModeService

<p>
    <h5> Dokončené úkoly </h5>
    @foreach (var quest in QuestService.CompletedQuests)
    {
        <label> <input type="checkbox" checked disabled> <s> @quest.ShortDescription </s> </label>
    }
    <br/> <br/>
    <h5> Aktivní úkol </h5>
    <label> <input type="checkbox" disabled> @QuestService.ActiveQuest.ShortDescription </label>
    @if (QuestService.ActiveQuest.DescriptionAppendix != null)
    {
        <br/><br/>
        <pre> @QuestService.ActiveQuest.DescriptionAppendix </pre>
    }
    
    <br/> <br/>
    @if (QuestService.ActiveQuest.BugFixed)
    {
        <p style="color: green"> Chyba pro právě aktivní úkol úspěšně nahlášena </p>
    }

</p>

@code
{
    protected override void OnInitialized()
    {
        ModeService.SubscribeUniqueOnTaskListShownEvent(StateHasChanged);
    }
}