<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Form</title>
</head>
<body>
    <h1>Zadej data, ktere se zapisi do databaze</h1>
    <form action="/{{submit_placeholder}}" method="post">
        <label for="jmeno">Jmeno:</label><br>
        <input type="text" id="jmeno" name="jmeno"><br><br>
        <label for="prijmeni"> Prijmeni:</label><br>
        <input type="text" id="prijmeni" name="prijmeni"><br><br>
        <label for="vek"> Vek:</label><br>
        <input type="number" id="vek" name="vek"><br><br>
        
        <input type="submit" value="Zadej">
    </form>
    <br><br><br>
    <form action="/" method="post">
        <button type="submit">Zpet na vypis</button>
    </form>
</body>
</html>